@model CMSPlus.Domain.Models.CommunModels.DetailPageViewModel

@{
    ViewBag.Title = "Details";
    Layout = "_Layout";
}
<div class="container m-3">
    <h1 class="row-12 text-black">@Model.TopicDetails.Title</h1>
    <div class="row">
        <p class="col-6 text-start text-black-50">Updated: @Model.TopicDetails.UpdatedOnUtc</p>
        <p class="col-6 text-end text-black-50">Created: @Model.TopicDetails.CreatedOnUtc</p>
    </div>
    <p class="row-12 text-black">@Html.Raw(Model.TopicDetails.Body)</p>
    <div class="row">
        <p class="col-12 text-black-50 text-end">System name: @Model.TopicDetails.SystemName</p>
    </div>
</div>
<div id="commentFormContainer">
    @Html.Partial("_CommentForm", Model)
</div>

<div id="commentList">
    @foreach(var comment in Model.TopicDetails.Comments)
    {
        <div class="mb-3">
            <h5>@comment.FullName</h5>
            <h5>@comment.Comment</h5>
        </div>
        
    }
</div>

